<template>
  <q-page  class="flex flex-center" >
    <div style="width: 450px;">
      <q-form
        class="q-gutter-sm"
        autofocus

      >
        <q-input
          filled
          v-model="productData.title"
          label="Title"
          type="text"
          square
          lazy-rules
          :rules="[val => val && val.length >0|| 'please type the product info..']"
        />

        <q-input
          filled
          type="url"
          v-model="productData.src"
          label="Image URL"
          square
          lazy-rules
          :rules="[val => val && val.length >0 || 'please type the product info..']"
        />
        <q-input
          filled
          type="number"
          v-model="productData.price"
          label="Price"
          square
          lazy-rules
          :rules="[val => val > 0  || 'Please type a correct Price of product']"
          suffix="€"
          mask="#.##"
          fill-mask="0"
          reverse-fill-mask
          input-class="text-right"
        />
        <q-input
          v-model="productData.description"
          filled
          type="textarea"
          label="Description"
          square
          lazy-rules
          :rules="[val => val && val.length >0 || 'please type the product info..']"
        />

        <div class=" q-pl-sm q-pr-sm row">
          <q-btn
          label="Add Product"
          type="submit"
          color="primary"
          @click="onSubmit"

          />
          <q-space></q-space>
          <q-btn
          label="Clear"
          type="reset"
          color="primary"
          @click="onReset"
          />
        </div>
      </q-form>

</div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
// import { products } from "src/store";
import { mapActions,mapGetters } from 'vuex';

export default defineComponent({
  name: 'AddproductPage',
  data () {
    return {
      productData: {
        title: '',
        src: '',
        price: '',
        description: '',
        userId: null
      },
    }
  },
  computed: {
    ...mapGetters('loginModule',['user'])

  },
  methods: {
    ...mapActions('productsModule',['updateShop']),

    onSubmit () {
      if(this.user.id){
        this.productData.userId = this.user.id
        this.updateShop(this.productData)
      }
      else{
        this.updateShop(null)
      }

    },

    onReset () {
      console.log(this.user)
      this.productData = {}
    }

  }
})
</script>
<style>
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}</style>
