<template>
  <q-page class="flex flex-center">

      <Card-Item
      :showBtn="showBtn"
      :products="cartProducts">

      </Card-Item>
  </q-page>
</template>

<script>

import CardItem from "components/card_Item.vue"
import { mapGetters } from "vuex";

export default {
  name: "cartPage",
  components: {
    CardItem,

  },
 data() {
  return {
    showBtn: false
  }
 },
 computed: {
  ...mapGetters('cartModule',['cartProducts'])
}
};
</script>
<style lang="sass" scoped>
.q-card-text
  max-width: 250px
  word-wrap: break-word
</style>
