<template>
  <q-page class="flex flex-center">
    <div style="width: 450px">
      <q-form class="q-gutter-sm" autofocus>
        <div>
          <div class="bg-blue-2 q-pa-sm">
            <span class="text-white text-subtitle1">
             User name
            </span>
          </div>
          <q-input
            square
            v-model="email"
            type="email"
            label="Your email*"
          />
          <div class="bg-blue-2 q-pa-sm">
            <span class="text-white text-subtitle1">
              Password
            </span>
          </div>
          <q-input
            v-model="password"
            filled
            :type="isPwd ? 'password' : 'text'"
            square
            >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <span
            v-if= "!iserror"
            class="text-red text-subtitle1"
          >
              {{ errMsg }}
          </span>

        </div>

          <div>
            <q-btn
              label="Login"
              type="submit"
              color="primary"
              @click="onSubmit"
            />
          </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>

import { useQuasar } from "quasar";

import { mapActions, mapGetters } from "vuex";


export default {
  name: "login",

  data() {
    return {
      $q: useQuasar(),
      accept: false,
      email: "",
      password: "",
      isPwd: true,
      iserror: false,
      errMsg: '',
      isLoggedIn: true
    }
  },
  computed: {

    ...mapGetters('loginModule', ['loginError'])
  },

  methods: {

    ...mapActions('loginModule', ['login']),
    onSubmit() {

      this.login({
        email: this.email,
        password: this.password
      })
      .then(res => {
        // console.log(this.loginError.iserror)
        this.isError = this.loginError.iserror
        this.errMsg = this.loginError.errMsg

        if(!this.isError){

          this.$router.push('/shopPage')
        }else {
          this.$router.push('/login')
        }
      }

      )
      .catch(err =>{
        console.log(err)
      })

      // const response = await AuthServices.getUserDetails({
      //   email: this.email,
      //   password: this.password
      // })

      // if(response.data.iserror){
      //   this.$q.notify({
      //     color: "red-5",
      //     textColor: "white",
      //     icon: "warning",
      //     message: response.data.error,
      //     position: "top",
      //     group: false,
      //   })

      // }else if(response.data.isPassword == false){
      //   this.$q.notify({
      //     color: "red-5",
      //     textColor: "white",
      //     icon: "cloud_done",
      //     message: response.data.error,
      //     position: "top",
      //     group: false,
      //   });
      // }else{
      //   this.$q.notify({
      //     color: "green-4",
      //     textColor: "white",
      //     icon: "cloud_done",
      //     message: response.data.msg,
      //     position: "top",
      //     group: false,
      //   });
      //   this.$router.push('/shopPage')
      // }
    }
  },
};
</script>
<style>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
