<template>
  <q-page class="flex flex-center">
    <div style="width: 450px">
      <q-form class="q-gutter-sm" autofocus>
        <div>
          <div class="bg-blue-2 q-pa-sm">
            <span class="text-white text-subtitle1">
             Email
            </span>
          </div>
          <q-input
            square
            v-model="email"
            type="email"
            label="Your email*"
          />
          <div class="bg-blue-2 q-pa-sm">
            <span class="text-white text-subtitle1">
              Password
            </span>
          </div>
          <q-input
            square
            type="password"
            v-model="password"
            label="Password"
            :rules="[(val) => (val !== null && val !== '')  || 'Please type valid password']"
          />
          <div class="bg-blue-2 q-pa-sm">
            <span class="text-white text-subtitle1">
              confirmPassword
            </span>
          </div>
          <q-input
            square
            type="password"
            v-model="confirmPassword"
            label="confirmPassword"
            :rules="[
              (val) =>
                (val !== null && val !== '' && val == password) ||
                'Confirm password and your password should be same',
            ]"
          />
        </div>
        <!-- <q-toggle v-model="accept" label="I accept the license and terms" /> -->

          <div>
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              @click="onSubmit"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
              @click="onReset"
            />
          </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { useQuasar } from "quasar";
import AuthServices from "src/services/AuthServices";
export default {
  name: "register",

  data() {
    return {
      $q: useQuasar(),
      accept: false,
      email: "",
      password: "",
      confirmPassword: ""
    }
  },

  methods: {
    async onSubmit() {
      const response = await AuthServices.register({
        email: this.email,
        password: this.password,
        confirmPassword: this.confirmPassword,

      })
      console.log(response.status)
      if(response.data.iserror !== false){
        console.log("herererere")
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "warning",
          message: response.data.error,
          position: "top",
          group: false,
        })

      }else {

          this.email = ''
          this.password = ''
          this.confirmPassword = ''

          this.$router.push('/login')
      }
      // const getUserDetails =  await AuthServices.getUserDetails()
    },


    onReset(){

      this.email = '',
      this.password = '',
      this.confirmPassword = ''
      this.accept = false
    }
  },
};
</script>
<style>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
