<template>
  <q-page class="flex flex-center">

      <Card-Item
      :showBtn="showBtn"
      :products="products"
      >

      </Card-Item>
  </q-page>
</template>

<script>
import CardItem from "components/card_Item.vue"
import { mapActions, mapGetters } from "vuex";

export default {
  name: "cartPage",

  components: {
    CardItem,

  },
 data() {
    return {
      showBtn: true,
    }
  },
computed: {

  ...mapGetters('productsModule',['products'])

  },
methods: {
    ...mapActions('productsModule',['product'])
  },
mounted(){

  if(this.products.length <= 0) {

    this.product()
  }

  }


};
</script>
<style lang="sass" scoped>
.q-card-text
  max-width: 250px
  word-wrap: break-word
</style>
