<template>
  <div v-for="(shopItem,index) in products" :key= "shopItem.id" class="q-ma-sm row">
    <q-card
      style="max-width: 250px"
      square
      >
        <q-card-section class="q-ma-none text-subtitle1 text-center">
        <label>
          {{ shopItem.title }}
        </label>
      </q-card-section>
      <q-img
        :src="shopItem.src"
        style="width: 249px"
        :ratio="1"
        class="justify-center">
      </q-img>
      <q-card-section class="q-ma-none text-subtitle3 text-center">
        <label>
          {{ shopItem.price }} €
        </label>
      </q-card-section>
      <q-separator inset/>
      <q-card-section class="q-card-text">

        <div class="text-subtitle3 text-center">Description : {{ shopItem.description }}</div>

      </q-card-section>
      <q-separator inset/>
      <q-card-actions class="justify-center">
        <div class="row">
          <q-btn
          v-show="showBtn"
          size="sm"
          flat
          no-caps
          color="primary"
          @click="addToCart(index)"
          >
          Add to cart
          </q-btn>
          <q-btn
          flat
          color="red"
          size="sm"
          no-caps
          v-show="!showBtn"
          @click="deleteFromCart(index)"
          >
          Delete product
        </q-btn>
      </div>

      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Card_Item',
  data() {
    return {
      id:null
    }
  },
  props: {
    showBtn:{
      type:Boolean
    },
    products: {
      type:Object
    }
  },
  methods: {
    ...mapActions('cartModule',['updateCart','removeFromCart']),


    addToCart(index) {
      const cartItem = this.products[index]
      console.log(cartItem);
      this.updateCart(cartItem)
      this.$router.push('/cartPage')

    },

    deleteFromCart(index) {
      this.removeFromCart(index)
    }
  }
}
</script>

<style lang="sass" scoped>
.q-card-text
  max-width: 250px
  word-wrap: break-word
</style>
