<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <div class="row">
        <q-toolbar>
          <q-btn
            flat
            dense
            round
            icon="menu"
            @click="toggleLeftDrawer"
          />

          <q-toolbar-title> Shopping Mart </q-toolbar-title>
          <q-btn
            v-if="!isLogin"
            @click="login"
            flat
            label="login"
            icon="login"
            />
          <q-btn
            v-else
            flat
            label="logout"
            icon="logout"
            @click="logout"
          />
          <q-btn
          v-if="!isLogin"
            flat
            label="register"
            icon="fa fa-user-plus"
            @click="register"
          />
        </q-toolbar>
      </div>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered :width="220">
      <q-list>
        <q-item-label header> Navigation </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import { mapGetters, mapActions } from "vuex";
import { useQuasar } from 'quasar'

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink
  },

  data() {
    const leftDrawerOpen = ref(false);
    return {
      essentialLinks: [],
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      isLogin: false,
      $q: useQuasar(),
      token: ''

    }
  },mounted(){

    // alert('ici',this.user)

    this.essentialLinks = this.links


  },
  computed: {
    ...mapGetters('loginModule', ['user']),
    ...mapGetters('linkModule', ['links']),

  },
  methods: {
    ...mapActions('linkModule', ['upDateLinks']),
    ...mapActions('loginModule',['isLogOut']),
    login() {
        this.token = this.$q.localStorage.getItem('token')
        console.log(this.token);
        if(this.token){
          this.isLogin = true
        }
        this.$router.push('/login')
      },
    logout() {
      this.isLogin = false
      this.isLogOut({ isLogOut:false })
      this.$router.push('/login')
    },
    register(){
      this.$router.push('/register')
    }
  }
})
</script>
